<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="author" content="{{ .Site.Params.author }}">
{{ range .AlternativeOutputFormats -}}
{{- $link := `<link rel="%s" type="%s" href="%s" title="%s">` -}}
{{- $title := printf "$s - %s" $.Page.Title $.Site.Title -}}
{{- if $.Page.IsHome -}}
{{ $title = $.Site.Title }}
{{- end -}}
{{ printf $link .Rel .MediaType.Type .Permalink $title | safeHTML }}
{{- end }}
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ $css := resources.Get "css/style.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}">
<link rel="stylesheet" href="{{ "css/syntax.css" | relURL }}">
<meta name="description" content="{{- with .Page.Description -}} {{ . }} {{- else -}}{{ .Site.Params.Description }}{{- end -}}">
{{ template "_internal/google_analytics.html" . }}
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
